
  h1 {
    text-align: center;
    color: #E83D84;
    font-size: 4rem !important;;
    margin-top: 1rem !important;
    margin-bottom: 1rem;
    font-family: 'Yeseva One', cursive;
  }
  
  h2 {
    font-size: 2rem !important;;
    text-align: center;
    color: #E83D84;
  }
  
  .responsive-table table tbody tr {
    min-height: 100px; /* Adjust this value according to your needs */
    background-color: #f8f9fa; /* A light gray background color */
  }

  .tag {
    display: inline-block;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  .tag::after {
    content: "×";
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .selectedPairs {
    min-height: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
  }

@media (min-width: 768px) {
  .selectedPairs {
    justify-content: flex-start;
  }
}
  
  body {
    font-family: 'Yeseva One', cursive;
    background-color: #3f0026;
    color: white;
    margin-bottom: 60px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
    border-radius: 1em;
    overflow: hidden;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #E83D84;
  }
  
  .center {
    background-color: #E83D84;
    color: white;
    text-align: center;
  }
  
  .responsive-table img {
    width: 300px;
    height: auto;
    border: 2px solid #E83D84;
  }
  
  a {
    color: pink;
  }

@media (max-width: 767.98px) {
    h1 {
        font-size: 10vw !important;
    }
    h2 {
        font-size: 5vw !important;
    }
}

  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  
    ::-webkit-scrollbar {
      width: 12px;
    }
  
    ::-webkit-scrollbar-track {
      background-color: #FFEBF7;
      border-radius: 10px;
    }
  
    ::-webkit-scrollbar-thumb {
      background-color: #E83D84;
      border-radius: 10px;
      border: 3px solid #FFEBF7;
    }
  }
  
  @media screen and (max-width: 767px) {
    .image-cell img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    
    .image-cell:before {
    display: none;
    }

    thead {
      display: none;
    }
  
    tr {
      display: block;
      border: 5px solid #E83D84;
      margin-bottom: 1rem;
      text-align: center;
    }
  
    td {
      display: block;
      text-align: center;
      border-bottom: 1px solid #E83D84;
      position: relative;
      
    }
  
    td:before {
      content: attr(data-label);
      position: absolute;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    td:last-child {
      border-bottom: 2px solid #dee2e6;
    }
  }

  
